body{
  font-size: 14pt;
}

#image-showing{
  display: none;
}

.clickable {
  cursor: pointer;
  color: #0088cc;
}

#fading-info{
  margin-top: 5%;
}

#info {
  margin-top: 3%;
  background: #528de5;
}
